*.ini

/model-viewer/
/._viewer_*/
/._viewer_*.zip
/._update_*/
/playcanvas-viewer/
/._pcviewer_*/

# MaxPkg authoring settings; user INIs remain ignored.
!/maxpkg-packager.ini
!/maxpkg-changelog.ini
/dist/
